= form_for @manage_subject do |f|
  - if @manage_subject.errors.any?
    #error_explanation
      %h2= "#{pluralize(@manage_subject.errors.count, "error")} prohibited this manage_subject from being saved:"
      %ul
        - @manage_subject.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
