
%h1 Gruppen
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Adresse
      %th Untergruppen
      %th
  %tbody
    - @container_items.each do |container_item|
      %tr
        %td= container_item.name
        %td= container_item.full_address
        %td= container_item.children.map(&:name).join(", ")
        %td
          = link_to 'Bearbeiten', edit_container_item_path(container_item)
          &middot;
          = link_to 'Löschen', container_item_path(container_item), :method => :delete, :data => { :confirm => 'Sind Sie sicher?' }

= link_to 'Neue Gruppe', new_container_item_path, :class => 'btn btn-primary'
